/* Reset some default styles */

body,
h1,
h2,
h3,
p,
ul,
dl,
figure {
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}


/* Header Styles */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Navigation Styles */

#mainNav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 20px;
    box-sizing: border-box;
    z-index: 1;
}

#mainNav ul {
    list-style: none;
    padding-left: 20px;
}

#mainNav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#mainNav a:hover {
    color: #ff9900;
}


/* Adjust main content to make space for the navigation bar */

main {
    margin-left: 220px;
}


/* Ensure content is not hidden behind the navigation bar */

header,
section,
footer {
    position: relative;
    z-index: 2;
}


/* Main Styles */

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}


/* Section Styles */

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

hr {
    border: 1px solid #ddd;
    margin: 10px 0;
}


/* Table Styles for Print */

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f5f5f5;
}


/* List Styles */

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}


/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Navigation Styles within Footer */

footer nav ul {
    background-color: #333;
    padding: 10px;
}

footer nav a,
footer h2 {
    color: #fff;
}

footer nav a:hover {
    color: #ff9900;
}


/* Responsive Styles */

@media (max-width: 600px) {
    nav ul {
        text-align: center;
        margin-top: 10px;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    main {
        margin-left: 0;
    }
}


/* Add this CSS to your existing style.css file */


/* Add this CSS to your existing style.css file */

a.back {
    display: inline-block;
    margin-top: 20px;
    /* Adjust the spacing from the content */
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    /* Center the text horizontally */
    line-height: 1;
    /* Center the text vertically */
}

a.back:hover {
    background-color: #555;
}
